.form {
    margin-top: 80px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    color: #000000;
}
 input {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 15px 24px 17px;
    width: 360px;
    border: 1px solid #888888;
}
input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #888888;
}
.button {
    padding: 15px 127px 17px;
    background: #17ABEB;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: 1px solid transparent;
}
.button:disabled {
    background: #727d82;
    cursor: not-allowed;
}
.error {
    color: red;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}
.errors {
    border: 1px solid #FF3F25;
    outline: #FF3F25;
  }
  