.list   {
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}

.list h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    color: #000000;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #888888;
}
ul {
    margin-block-start: 0;
    padding: 0;
}
.list ul  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.sort {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sort button {
    border: none;
    background: none;
    cursor: pointer;
}
.notfound {
    margin: 0 auto;
}