.Success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Success h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    color: #5BD222;
    margin-bottom: 16px;
    margin-top: 241px;
}
.Success button {
    padding: 15px 127px 17px;
    background: #17ABEB;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: 1px solid transparent;
}
.Success p {
    font-weight: 400;
    font-size: 20px;
}