.header {
    display: flex;
    justify-content: center;
    margin-bottom: 16px ;
}
a {
    margin-right: 32px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}
.header a:hover {
    color: #17ABEB;
}
.active {
    color: #17ABEB;
}